<main class="error-page">
    {{>Heading type="h2" text="500"}}
    {{>Heading type="h3" text="Мы уже фиксим"}}
    <p>
        <a id="loginPage" class="page-link">Вернуться на главную</a>
    </p>
</main>
{{>Aside}}
